<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
        <bean id="producerFactory" class="producer.KafkaProducerFactory">
            <property name="bootstrapservers" value="22.188.96.84:9092"/>
            <!--事务开启-->
            <property name="transactionalId" value="bocmobile"/>
            <!--开启幂等性-->
            <property name="idempotence" value="true"/>
        </bean>

        <bean id="consumerFactory" class="consumer.KafkaConsumerFactory">
            <property name="bootstrapservers" value="22.188.96.84:9092"/>
            <property name="groupId" value="demo1"/>
            <property name="autoOffectRest" value="earliest"/>
        </bean>

</beans>