<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="producerFactory" class = "producer.ProducerFactory">
        <!--服务器地址-->
        <property name="serversAddr" value="192.168.25.10:9092,192.168.25.11:9092,192.168.25.12:9092"></property>
        <!--重试次数-->
        <property name="retries" value="1"></property>
        <!--应答模式-->
        <property name="acks" value="all"></property>
    </bean>

    <bean id="producerTemplate" class="producer.ProducerTemplate">
        <constructor-arg ref="producerFactory"></constructor-arg>
    </bean>
</beans>